@import 'tailwindcss';
@import './normalize.css';

@theme {
	--color-dark: #14141a;
	--text-300: 18.75rem;

	--color-accent: #1daf61;
	--color-accent-hover: #31d27a;
	--color-accent-light: #c2f5da;
	--color-accent-light-hover: #d1f6e2;
	--color-error: #fb3748;
	--color-error-100: #f3747f;
	--color-dark-menu: #0c0f0a;
	--color-gray-main: #5c5c5c;
	--color-gray-50: #efefef;
	--color-gray-100: #ebebeb;
	--color-gray-150: #bdbdbd;
	--color-gray-200: #a3a3a3;
	--color-gray-light: #d9d9d9;
	--color-icon-dark: #33363f;

	--radius-20: 1.25rem;
	--radius-10: 0.625rem;
	--font-inter: var(--font-inter);
}

@keyframes shimmer {
	0% {
		background-position: 100% 0;
	}
	100% {
		background-position: -100% 0;
	}
}

.animate-shimmer {
	background: linear-gradient(
		90deg,
		#bdbdbd 0%,
		#bdbdbd 40%,
		#ebebeb 50%,
		#bdbdbd 60%,
		#bdbdbd 100%
	);
	background-size: 200% 100%;
	animation: shimmer 2s ease-in-out infinite;
}

.animate-shimmer-glow {
	position: relative;
	overflow: hidden;
}

.animate-shimmer-glow::before {
	content: '';
	position: absolute;
	inset: 0;
	background: linear-gradient(
		90deg,
		transparent,
		rgba(235, 235, 235, 0.6),
		transparent
	);
	transform: translateX(-100%);
	animation: shimmer-glow 1.5s infinite;
}

@keyframes shimmer-glow {
	100% {
		transform: translateX(100%);
	}
}

.skeleton-shimmer {
	position: relative;
	overflow: hidden;
	background-color: #bdbdbd;
}

.skeleton-shimmer::after {
	content: '';
	position: absolute;
	inset: 0;
	transform: translateX(-100%);
	background: linear-gradient(90deg, transparent, #ebebeb, transparent);
	animation: shimmer 1.5s infinite;
}
